[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Homebrew enabler for PS Vita
[access "refs/*"]
	owner = group user/Justin (Nightstalker350119)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Justin (Nightstalker350119)
	label-Verified = -1..+1 group user/Justin (Nightstalker350119)
	push = group user/Justin (Nightstalker350119)
	read = group user/Justin (Nightstalker350119)
	rebase = group user/Justin (Nightstalker350119)
	removeReviewer = group user/Justin (Nightstalker350119)
	submit = group user/Justin (Nightstalker350119)
[access "refs/heads/*"]
	create = group user/Justin (Nightstalker350119)
	push = +force group user/Justin (Nightstalker350119)
	pushMerge = group user/Justin (Nightstalker350119)
	read = group user/Justin (Nightstalker350119)
[access "refs/tags/*"]
	push = group user/Justin (Nightstalker350119)
	push = +force group user/Justin (Nightstalker350119)
